<!DOCTYPE html>
{% load static %} 

   <html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css" crossorigin="">
     <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
     <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
     <link rel="stylesheet" href="{% static 'Css/About.css' %}">

     <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600&display=swap">

      <title>Members</title>
   </head>
   <body>
      <div class="topnav">
         <a class="active" href="#">EYFDO</a>
         <a href="{% url 'AbouT' %}">About</a>
         <a href="{% url 'MemberS' %}">Members</a>
         <a href="{% url 'account2023' %}">Accounts</a>
         <a href="{% url 'InteresT' %}">Interest</a>
         <a href="{% url 'ExpensE' %}">Expenses</a>
         <a href="{% url 'InvesT' %}">Investment</a>
         <a href="{% url 'DashboarD' %}">Financial Dashboard</a>
         {% if request.user.is_authenticated %}
         <button style="background-color: #4CAF50; color: white;" class="btn-primary">
           <a href="#" style="color: inherit; text-decoration: none;">Hello, {{request.user}}</a>
         </button>
         
     {%endif%}
     <button style="background-color: #FF5733; color: white;" class="btn-primary">
       <a href="{% url 'logout' %}" style="color: inherit; text-decoration: none;">Logout</a>
     </button>
       </div>
       <h1 class="Members">EYFDO's Members</h1>
      <section class="container">
         <div class="card__container swiper">
            <div class="card__content">
               <div class="swiper-wrapper">
                  <article class="card__article swiper-slide">
                     <div class="card__image">
                        <img src="{% static 'images/shahjahan.jpg' %}" alt="image" class="card__img">
                        <div class="card__shadow"></div>
                     </div>
      
                     <div class="card__data">
                        <h3 class="card__name">Shahjahan</h3>
                        <p class="card__description">
                         Address: Hatigara,Kalir Bazar
                        </p>
                    <a href="https://www.facebook.com/limelightboy.somratshahajahan/" class="card__button" target="blank">Know more</a>
    
                     </div>
                  </article>
                  <article class="card__article swiper-slide">
                    <div class="card__image">
                       <img src="{% static 'images/kader.jpg' %}" alt="image" class="card__img">
                       <div class="card__shadow"></div>
                    </div>
     
                    <div class="card__data">
                       <h3 class="card__name">Abdul Kader</h3>
                       <p class="card__description">
                        Address: Hatigara,Kalir Bazar
                       </p>
                   <a href=" https://www.facebook.com/kader.khan.9699" class="card__button" target="blank">Know more</a>
   
                    </div>
                 </article>
                 <article class="card__article swiper-slide">
                    <div class="card__image">
                       <img src="{% static 'images/mahibul.jpg' %}" alt="image" class="card__img">
                       <div class="card__shadow"></div>
                    </div>
     
                    <div class="card__data">
                       <h3 class="card__name">Mahibul</h3>
                       <p class="card__description">
                        Address: Hatigara,Kalir Bazar
                       </p>
                   <a href="https://www.facebook.com/profile.php?id=100070247161961" class="card__button" target="blank">Know more</a>
   
                    </div>
                 </article>
                 <article class="card__article swiper-slide">
                    <div class="card__image">
                       <img src="{% static 'images/jamal.jpg' %}" alt="image" class="card__img">
                       <div class="card__shadow"></div>
                    </div>
     
                    <div class="card__data">
                       <h3 class="card__name">Jamal Uddin</h3>
                       <p class="card__description">
                        Address: Dhonuakhola,Kalir Bazar
                       </p>
                   <a href="https://www.facebook.com/jamal.hossin.161" class="card__button" target="blank">Know more</a>
   
                    </div>
                 </article>
                 <article class="card__article swiper-slide">
                    <div class="card__image">
                       <img src="{% static 'images/rony.jpg' %}" alt="image" class="card__img">
                       <div class="card__shadow"></div>
                    </div>
     
                    <div class="card__data">
                       <h3 class="card__name">Rashad Rony</h3>
                       <p class="card__description">
                        Address: Hatigara,Kalir Bazar
                       </p>
                   <a href="https://www.facebook.com/rony.bhuiyan.501" class="card__button" target="blank">Know more</a>
   
                    </div>
                 </article>
                 <article class="card__article swiper-slide">
                    <div class="card__image">
                       <img src="{% static 'images/nizam.jpg' %}" alt="image" class="card__img">
                       <div class="card__shadow"></div>
                    </div>
     
                    <div class="card__data">
                       <h3 class="card__name">Nizam Uddin</h3>
                       <p class="card__description">
                        Address: Hatigara,Kalir Bazar
                       </p>
                   <a href="https://www.facebook.com/profile.php?id=100069652345255" class="card__button" target="blank">Know more</a>
   
                    </div>
                 </article>
                 <article class="card__article swiper-slide">
                    <div class="card__image">
                       <img src="{% static 'images/mizan.jpg' %}" alt="image" class="card__img">
                       <div class="card__shadow"></div>
                    </div>
     
                    <div class="card__data">
                       <h3 class="card__name">Mizanur Rahman</h3>
                       <p class="card__description">
                        Address: Hatigara,Kalir Bazar
                       </p>
                   <a href="https://www.facebook.com/jahid.ruio" class="card__button" target="blank">Know more</a>
   
                    </div>
                 </article>
                 <article class="card__article swiper-slide">
                    <div class="card__image">
                       <img src="{% static 'images/tamjid2.jpg' %}" alt="image" class="card__img">
                       <div class="card__shadow"></div>
                    </div>
     
                    <div class="card__data">
                       <h3 class="card__name">Tamjid</h3>
                       <p class="card__description">
                        Address: Atehora,Kalir Bazar
                       </p>
                   <a href="#" class="card__button" target="blank">Know more</a>
   
                    </div>
                 </article>
                 <article class="card__article swiper-slide">
                    <div class="card__image">
                       <img src="{% static 'images/tawsif.JPG' %}" alt="image" class="card__img">
                       <div class="card__shadow"></div>
                    </div>
     
                    <div class="card__data">
                       <h3 class="card__name">Tawsif</h3>
                       <p class="card__description">
                        Address: Atehora,Kalir Bazar
                       </p>
                   <a href="#" class="card__button" target="blank">Know more</a>
   
                    </div>
                 </article>
                 <article class="card__article swiper-slide">
                    <div class="card__image">
                       <img src="{% static 'images/sayed.jpg' %}" alt="image" class="card__img">
                       <div class="card__shadow"></div>
                    </div>
     
                    <div class="card__data">
                       <h3 class="card__name">Ahmed Sayed</h3>
                       <p class="card__description">
                        Address: Hatigara,Kalir Bazar
                       </p>
                   <a href="https://www.facebook.com/profile.php?id=100008179597507" class="card__button" target="blank">Know more</a>
   
                    </div>
                 </article>
                 <article class="card__article swiper-slide">
                    <div class="card__image">
                       <img src="{% static 'images/Shahalam.jpg' %}" alt="image" class="card__img">
                       <div class="card__shadow"></div>
                    </div>
     
                    <div class="card__data">
                       <h3 class="card__name">Shahalam</h3>
                       <p class="card__description">
                        Address: Hatigara,Kalir Bazar
                       </p>
                   <a href="https://www.facebook.com/profile.php?id=100005521633461 " class="card__button" target="blank">Know more</a>
   
                    </div>
                 </article>
                 <article class="card__article swiper-slide">
                    <div class="card__image">
                       <img src="{% static 'images/alamin.jpg' %}" alt="image" class="card__img">
                       <div class="card__shadow"></div>
                    </div>
     
                    <div class="card__data">
                       <h3 class="card__name">Al amin</h3>
                       <p class="card__description">
                        Address: Hatigara,Kalir Bazar
                       </p>
                   <a href="https://www.facebook.com/abunasim.alamin" class="card__button" target="blank">Know more</a>
   
                    </div>
                 </article>
                 <article class="card__article swiper-slide">
                    <div class="card__image">
                       <img src="{% static 'images/yousuf.jpg' %}" alt="image" class="card__img">
                       <div class="card__shadow"></div>
                    </div>
     
                    <div class="card__data">
                       <h3 class="card__name">Yousuf</h3>
                       <p class="card__description">
                        Address: Baripur,Kalir Bazar
                       </p>
                   <a href="https://www.facebook.com/profile.php?id=100004142415835" class="card__button" target="blank">Know more</a>
   
                    </div>
                 </article>
                 <article class="card__article swiper-slide">
                    <div class="card__image">
                       <img src="{% static 'images/topu.jpg' %}" alt="image" class="card__img">
                       <div class="card__shadow"></div>
                    </div>
     
                    <div class="card__data">
                       <h3 class="card__name">Topu</h3>
                       <p class="card__description">
                        Address: Hatigara,Kalir Bazar
                       </p>
                   <a href="https://www.facebook.com/ashiqure.rahoman" class="card__button" target="blank">Know more</a>
   
                    </div>
                 </article>
                 <article class="card__article swiper-slide">
                    <div class="card__image">
                       <img src="{% static 'images/rafi.jpg' %}" alt="image" class="card__img">
                       <div class="card__shadow"></div>
                    </div>
     
                    <div class="card__data">
                       <h3 class="card__name">Rafi</h3>
                       <p class="card__description">
                        Address: Hatigara,Kalir Bazar
                       </p>
                   <a href="https://www.facebook.com/motalebhossain.rafe.39" class="card__button" target="blank">Know more</a>
   
                    </div>
                 </article>
                 
               </div>
            </div>

            <!-- Navigation buttons -->
            <div class="swiper-button-next">
               <i class="ri-arrow-right-s-line"></i>
            </div>
            
            <div class="swiper-button-prev">
               <i class="ri-arrow-left-s-line"></i>
            </div>

            <!-- Pagination -->
            <div class="swiper-pagination"></div>
         </div>
      </section>
      <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
      <script src="{% static 'assets/js/main.js' %}"></script>
   </body>
</html>