<!-- complaints_list.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Complaints List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Css/Complain.css' %}">
</head>
<body>
    {% block content %}
      <h2>My Complaints</h2>
      <a href="{% url 'file_complaint' %}">File a new complaint</a>
      <ul>
        {% for complaint in Complaints %}
          <li>
            <strong>{{ complaint.title }}</strong> - {{ complaint.date_filed }}<br>
            {{ complaint.description }}
          </li>
        {% endfor %}
      </ul>
    {% endblock %}
</body>
</html>



